<div class="container">

  <div class="cont-search">
    <ion-searchbar 
      (ionInput)="onChange($event)"
      show-clear-button="focus"
      [value]="searchTxt"
    ></ion-searchbar>
  </div>
  <div class="cont-select">
      <ion-select [(ngModel)]="selectedChange" label="Search by" placeholder="Search by">
        <ion-select-option value="artist"><span class="txt">Artist</span></ion-select-option>
        <ion-select-option value="song"><span class="txt">Song</span></ion-select-option>
        <ion-select-option value="genre"><span class="txt">Genre</span></ion-select-option>
        <ion-select-option value="duration"><span class="txt">Duration</span></ion-select-option>
      </ion-select>
  </div>
</div>
