@import '../../../theme/variables.scss';

.image-item{
    border-radius: 10px;
}

h2{
    font-family: $font-new;
    color: $color-primary;
    margin-left: 1em;
}

.container{
    height: 100vh;
    background-color: black;
    padding: 10px;
}

.content{
    margin-top: 1em;
    margin-bottom: 10em;
}

.cont-x{
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    gap: 0.2em;
    width: 100%;
    margin-left: 1em;
    padding-right: 2em;
}

ion-content{
    --background: black;
    padding-bottom: 10em;
}