<ion-content class="container">

  <div class="content">
     <h2>Top Albums</h2>
     <div class="cont-x"> 
        <app-album-component></app-album-component>
        <app-album-component></app-album-component>
        <app-album-component></app-album-component>
        <app-album-component></app-album-component>
        <app-album-component></app-album-component>
        <app-album-component></app-album-component>
        <app-album-component></app-album-component>
     </div>
     <div>
       <h2>Top Albums</h2>
       <div class="cont-x"> 
         <app-album-component></app-album-component>
         <app-album-component></app-album-component>
         <app-album-component></app-album-component>
         <app-album-component></app-album-component>
         <app-album-component></app-album-component>
         <app-album-component></app-album-component>
         <app-album-component></app-album-component>
        </div>
     <div>
       <h2>Top Albums</h2>
       <div class="cont-x"> 
         <app-album-component></app-album-component>
         <app-album-component></app-album-component>
         <app-album-component></app-album-component>
         <app-album-component></app-album-component>
         <app-album-component></app-album-component>
         <app-album-component></app-album-component>
         <!-- <app-album-component></app-album-component> -->
        </div>
      </div>
    </div>
  </div>
  </ion-content>
  