<div class="container">
    <div class="cont-logo">
        <img src="../../../assets/spiralLogo.png" alt="Loading" class="rotating-image">
        <span class="txt-logo">Spyral</span>
    </div>
    <div class="cont-slogan">
        <span class="txt-slogan">Gira y descubre la proxima cancion favorita con Spyral</span>
    </div>
    <div class="cont-btn">
        <button class="btn-register" routerLink="/register">Register</button>
        <button class="btn-login"  routerLink="/login">Login</button>
    </div>
</div>