<ion-card>
    <ion-item lines="none" button (click)="onClick()">
        <ion-thumbnail slot="start">
        <img class="image-item" [src]="imageSrc" alt="Image">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
        <h2>{{title}}</h2>
        <p>{{formateddArtist()}}</p>
        </ion-label>
        <ion-buttons slot="end">
        <ion-button (click)="presentOptions($event)">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
        </ion-buttons>
    </ion-item>
</ion-card>

<ion-popover #myPopover [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let item of playlists | slice:0:3" [button]="true" [detail]="false" (click)="onSelect(item)">
          {{ item.title }}
        </ion-item>
        <ng-container *ngIf="playlists.length > 3">
          <ion-item [button]="true" id="nested-trigger">More options...</ion-item>
      
          <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-item *ngFor="let item of playlists | slice:3" [button]="true" [detail]="false" (click)="onSelect(item)">
                    {{ item.title }}
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ng-container>

      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>