<div class="container">
    <div (click)="selectFile()" class="upload-audio">
        <h2>{{!selectAudio ? 'Upload your song' : nameAudio}}</h2>
    </div>

    <div class="cont-input">
        <app-input-component
                [label]="'Song name'"
                fill="outline"
                labelPlacement="floating"
                [counter]="true"
                [maxlength]="30"
                [(value)]="songName"
                helperText="Enter a valid song"
                errorText="Invalid song name"
                colorText="#FF00B8"
                (valueChange)="onValueChangeSongname($event)"
                [regexPattern]="regexSongname"
            ></app-input-component>
    
        <div class="cont-select">
            <ion-select 
                aria-label="Genres"
                placeholder="Select your genres"
                [multiple]="true"
                [(ngModel)]="selectedGenres"
                name="selectedGenres"
                >
                <ion-select-option 
                    *ngFor="let genre of genres"
                    [value]="genre.id"  
                >
                {{ genre.description }}
                </ion-select-option>
            </ion-select>
        </div>

        <div class="cont-image-picker">
            <div (click)="openImagePicker()" class="image-picker">
                <h2 *ngIf="!selectImage">Select your artist image</h2>
                <img *ngIf="selectImage" [src]="srcImage" alt="Artist Image">
            </div>
        </div>

        <div class="cont-btn">
            <button class="btn-edit">Upload Song</button>
          </div>
    </div>
</div>