    <ion-header class="ion-no-border header">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button ></ion-back-button>
            </ion-buttons>
          <div class="cont-header">
            <div class="container-image">
                <img [src]="album.image" alt="Album">
            </div>
            <div class="album-info">
                <h2>{{album.name}}</h2>
                <p>{{album.artists}}</p>
            </div>
          </div>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <div class="container-songs">
            <div *ngFor="let song of album.tracks; let i = index">
                <app-card-component
                    [imageSrc]="song.image || ''"
                    [artists]="song.artists || []"
                    [title]="song.title || ''"
                    [url_song]="song.song || ''"
                    [id]="song.id || ''"
                    [index]="i"
                ></app-card-component>
            </div>
        </div>

    </ion-content>