<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="cont-header">
      <ion-title>
        Playlists
      </ion-title>

      <button class="btn-add">
        <ion-icon name="add-outline" size="large"></ion-icon>
      </button>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <h2 class="title">In one place</h2>
    <div class="cont-playlist"> 
       <app-album-component></app-album-component>
       <app-album-component></app-album-component>
       <app-album-component></app-album-component>
       <app-album-component></app-album-component>
       <app-album-component></app-album-component>
       <app-album-component></app-album-component>
       <app-album-component></app-album-component>
    </div>
  </div>

</ion-content>
